.partner-logos__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $main-regular;
    text-align: center;
    margin-bottom: 30px;
}

.partner-logos__item {
    width: 100%;
    height: 120px;
    background-position: center center;
    background-repeat: no-repeat;
}

.partner-logos__item--01 {
    background-color: #1C4280;
    background-image: url('../img/hillel.png');
    background-size: 217px auto;
}

.partner-logos__item--02 {
    background-color: #143646;
    background-image: url('../img/wannabiz.png');
    background-size: 199px auto;
}

.partner-logos__item--03 {
    background-color: #F48B30;
    background-image: url('../img/tapgerine.png');
    background-size: 179px auto;
}

.partner-logos__item--04 {
    background-color: #9E4DC3;
    background-image: url('../img/3dlook.png');
    background-size: 180px auto;
}

.partner-logos__item--05 {
    background-color: #FD9339;
    background-image: url('../img/orangear.png');
    background-size: 174px auto;
}

.partner-logos__item--06 {
    background-color: #E2E2E4;
    background-image: url('../img/adtelligent.png');
    background-size: 194px auto;
}

.partner-logos__item--07 {
    background-color: #C71C36;
    background-image: url('../img/clickky.png');
    background-size: 138px auto;
    display: none;
}

.partner-logos__item--08 {
    background-color: #DCF3F9;
    background-image: url('../img/eco-leasing.png');
    background-size: 146px auto;
    display: none;
}

.partner-logos__item--09 {
    background-color: #EAEAEA;
    background-image: url('../img/ingratek.png');
    background-size: 182px auto;
    display: none;
}

.partner-logos__item--10 {
    background-color: #282240;
    background-image: url('../img/city-par.png');
    background-size: 181px auto;
    display: none;
}

.partner-logos__item--11 {
    background-color: #1D4568;
    background-image: url('../img/ultimatecard.png');
    background-size: 189px auto;
    display: none;
}

.partner-logos__item--12 {
    background-color: #000000;
    background-image: url('../img/city-par.png');
    background-size: 152px auto;
    display: none;
}

@media screen and (min-width: 768px) {

    .partner-logos__wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .partner-logos__item {
        width: 33.33%;
    }

    .partner-logos__item--07,
    .partner-logos__item--08,
    .partner-logos__item--09,
    .partner-logos__item--10,
    .partner-logos__item--11,
    .partner-logos__item--12 {
        display: block;
    }

    @media screen and (min-width: 1024px) {
        .partner-logos__item {
            width: 25%;
        }
    }


}